


  <article class="new-lab-form ml-24 flex flex-col">
    <div>
      <label id="title-lab" for="lab-title">{{experiment.title}}</label>
    </div>
    <div>
      <label for="purpose">Purpose and Hypothesis</label>
      <div id="purpose-lab">{{experiment.purpose}}</div>
    </div>
    <div>
      <label for="background">Background</label>
      <div id="bg-lab">{{experiment.background}}</div>
    </div>
    <div>
      <label for="protocols">Protocols, Calculations, Reagents, Equipment</label>
      <div id="protocols-lab">{{experiment.protocols_calculations_reagents_equipment}}</div>
    </div>
    <div>
      <label for="Observations">Observations</label>
      <div id="obs-lab">{{experiment.observations}}</div>
    </div>
    <div>
      <label for="analysis">Analysis</label>
      <div id="analysis-lab">{{experiment.analysis}}</div>
    </div>

  </article>

