<article>
    <h2 class="titleformat">Edit Lab Entry</h2>
    <form id="edit-lab-form" class="edit-lab-info">
        <div id="lab-id" data-id="{{experiment.id}}">
            <label for="lab-title">Title</label>
            <input name="lab-title" type="text" value="{{experiment.title}}" />
        </div>
        <div>
            <label for="purpose">Purpose and Hypothesis</label>
            <textarea id="lab-purpose" name="lab-purpose" >{{experiment.purpose}}</textarea>
        </div>
        <div>
            <label for="background">Background</label>
            <textarea id="lab-bg" name="lab-background">{{experiment.background}}</textarea>
        </div>
        <div>
            <label for="protocols">Protocols, Calculations, Reagents, Equipment</label>
            <textarea id="lab-protocols" name="lab-protocols">{{experiment.protocols_calculations_reagents_equipment}}</textarea>
        </div>
        <div>
            <label for="Observations">Observations</label>
            <textarea id="lab-obs" name="lab-observations">{{experiment.observations}}</textarea>
        </div>
        <div>
            <label for="analysis">Analysis</label>
            <textarea id="lab-analysis" name="lab-analysis">{{experiment.analysis}}</textarea>
        </div>
        <div class="btn-div">
            <button type="submit" class="save-lab-btn">Save Lab Entry</button>
            <button type="button" class="delete-lab-btn">Delete Lab Entry</button>
        </div>
    </form>
</article>


<script src="/javascript/edit-lab.js"></script>
<script src="/javascript/delete-lab.js"></script>
