{{!-- <a href="/dashboard"> &larr; Back to Dashboard</a> --}}
<h1 class="project_title titleformat">{{project_name}}</h1>
{{#if experiments.length}}
<div class="experiment-list">
  <h2 class="underline underline-offset-4">Your Experiments</h2>
  <ol>
    {{#each experiments as |experiment|}}
    <li>
      <div id="experiment-lab-link"><a href="/project/experiment/{{id}}">{{experiment.title}}</a></div>
      <p class="text-xs">Created on {{format_date created_at}}
        ---
        last updated on {{format_date updated_at}}
      </p>
      <div class="experiment-comment-list">{{experiment.comments.length}} {{format_plural "comment"
          experiment.comments.length}}</div>
    </li>
    {{/each}}
  </ol>
</div>
{{/if}}

<button class="new-experiment-btn" class="new-notebook-btn"><a href="/add_experiment/{{project_id}}">Create New Experiment</a></button>
