

<section id="projectid" data-idproj="{{attachment.project_id}}">
  <div id="experimentid" data-idlab="{{attachment.experiment_id}}">
  <a class="back-btn" href="/project/experiment/{{fileupload.experiment_id}}" class="mx-5"> &larr; Back to {{attachment.experiment_title}}</a>
  <h1 class="titleformat">Attachment List</h1>
  {{!-- {{#if attachments.length}} --}}
  <div class="attachmentlist" id="attachmentid" data-idattach="{{attachment.id}}">
    <ol>
      {{#each attachment}}
      <li>
        <a href="{{attachment.file_path}}">View Attachment</a>
      </li>
      <button class="deleteattach-btn">Delete Attachment</button>
      {{/each}}
    </ol>
  </div>
  {{!-- {{/if}} --}}
</div>
</section>
