

<section id="projectid" data-id="{{experiment.project_id}}">
  <a class="back-btn" href="/project/{{experiment.project_id}}/experiment/{{experiment.id}}" class="mx-5"> &larr; Back to {{experiment.title}}</a>
  <div class="titleformat" style="font-size: 45px; margin-bottom:50px;" id="experimentid" data-id="{{experiment.id}}">
    {{experiment.title}}</div>
    <div class="attachment-container">
        <a class="view-pdf" href="../public/fileupload/lecture7.pdf">View PDF</a>        
</div>
</section>