

<section id="projectid" data-idproj="{{fileupload.experiment_id.project_id}}">
  <div id="experimentid" data-idlab="{{fileupload.experiment_id}}">
  <a class="back-btn" href="/project/{{fileupload.experiment_id.project_id}}/experiment/{{fileupload.experiment_id}}" class="mx-5"> &larr; Back to {{experiment.title}}</a>
  <div class="attachmentlist">
    <ol>
      {{#each attachment}}
      <li>
        <a href="{{dataValues.file_path}}">View Attachment</a>
      </li>
      {{/each}}
    </ol>
  </div>
</div>
</section>