

<section id="projectid" data-idproj="{{fileupload.experiment_id.project_id}}">
  <div id="experimentid" data-idlab="{{fileupload.experiment_id}}">
  <a class="back-btn" href="/project/{{fileupload.experiment_id.project_id}}/experiment/{{fileupload.experiment_id}}" class="mx-5"> &larr; Back to {{fileupload.experiment_id.experiment.title}}</a>
</div>
</section>